.MainPage {
    width: 1000px;
    height: 100%;
    position: relative;
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    
}

.Wrapper {
    max-width: 1020px;
    margin: 0 auto;
}
